@tailwind base;
@tailwind components;
@tailwind utilities;

.primary{
    color:#519e51 ;
}

.primary1{
  color:rgba(255, 255, 255, 0.774);
}

.primary1:hover{
  color:#519e51 ;
}


.Primary{
  color:#519e51 ;
}

.Bgprimary{
  margin-top: 20px;
  background-color:#fff ;
  transition:all ease-in-out 0.5s ;
  outline: none;
  border-radius: 20px;
  width: 150px;
  font-size: 18px;
  font-weight: 600;
  color: black;
  padding: 10px;
}

.Bgprimary:hover{
  transition:all ease-in-out 0.5s ;
  background-color:#519e51 ;
  color: black;

}




.transition{
  transition:all ease-in-out 0.5s ;
}

.transition:hover{
  transition:all ease-in-out 0.5s ;
}

.BordLeft{
  border-left: 2px solid white;
  transition: all ease-in-out 0.5s;

}

.BordLeft:hover{
  border-left: 2px solid transparent;
  box-shadow: #ffffff 1px 1px 60px -30px;
  transition: all ease-in-out 0.5s;

}

.Icons{
  font-size: 40px !important;
  color:#519e51 ;
  transition: all ease-in-out 0.7s;

}
.Icons:hover{
  color:#fff ;
  scale: 103%;
  box-shadow: rgba(255, 255, 255, 0.137) 1px 1px 80px 0px;
  transition: all ease-in-out 0.7s;

}

.Icon{
  font-size: 20px !important;
  color:#519e51;
}

.blue-circle{
  animation-delay: 0.1s;
}
.green-circle{
  animation-delay: 0.2s;
}
.red-circle{
  animation-delay: 0.3s;
}

.background{
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
}

